include README.md
include LICENSE
include pyproject.toml
recursive-include lukit/configs *.json
recursive-include lukit *.py
recursive-include lukit/data *.jsonl
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude .gitignore
exclude .git/*
